[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "riskyr"]
	path = riskyr
	url = https://github.com/hneth/riskyr
	shallow = true
	registered = true
[submodule "unikn"]
	path = unikn
	url = https://github.com/hneth/unikn
	shallow = true
	registered = true
